<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8">
<title>Leht</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
<h1>Leht</h1>
<p>See on leht, midagi uhket siit ei leia. <a href="https://www.tlu.ee">TLÜ</a></p>
<hr>
<ul>
    <li><a href="/">Avaleht</a></li>
</ul>
<hr>
<h2>Eesti film</h2>
<ul>
    <li><a href="/eestifilm/inimesed">Eesti filmiinimesed</a></li>
    <li><a href="/eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
</ul>
<hr>
<h2>Eesti Filmid</h2>
<ul>
<% listData.forEach(function(listItem) { %>
       <li><%= listItem %></li> 
    <% }); %>
</ul>
<hr>
<h2>Eesti filmide lisamine andmebaasi</h2>
    <form method="POST">
        <label for="titleInput">Filmi nimi</label>
        <input id="titleInput" name="titleInput" type="text" placeholder="Filmi nimi..." required>
        <br>
        <label for="productionYearInput">Filmi tootmisaasta</label>
        <input id="productionYearInput" name="productionYearInput" type="date" required>
        <br>
        <label for="durationInput">Filmi kestus minutites</label>
        <input id="durationInput" name="durationInput" type="number" placeholder="Filmi kestus minutites" required>
        <br>
        <label for="descriptionInput">Filmi kirjeldus</label>
        <input id="descriptionInput" name="descriptionInput" type="text" placeholder="Filmi kirjeldus">
        <br>
        <input id="filmSubmit" name="filmSubmit" type="submit" value="Salvesta">
    </form>
    <p>Staatus: <%= notice %></p>
</body>
</html>