<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8">
<title>Leht</title>
</head>
<body>
<img src="../images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
<h1>Leht</h1>
<p>See on leht, midagi uhket siit ei leia. <a href="https://www.tlu.ee">TLÜ</a></p>
<hr>
<ul>
    <li><a href="/">Avaleht</a></li>
    <li><a href="/eestifilm">Eesti filmi avaleht</a></li>
</ul>
<hr>
<h2>Eesti filmiinimeste lisamine andmebaasi</h2>
    <form method="POST">
        <label for="firstNameInput">Filmiinimese eesnimi</label>
        <input id="firstNameInput" name="firstNameInput" type="text" placeholder="Eesnimi..." required>
        <br>
        <label for="lastNameInput">Filmiinimese perekonnanimi</label>
        <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Perekonnanimi..." required>
        <br>
        <label for="bornInput">Filmiinimese sünniaeg</label>
        <input id="bornInput" name="bornInput" type="date" required>
        <br>
        <label for="deceasedInput">Filmiinimese surmaaeg</label>
        <input id="deceasedInput" name="deceasedInput" type="date">
        <br>
        <input id="personSubmit" name="personSubmit" type="submit" value="Salvesta">
    </form>
    <p>Staatus: <%= notice %></p>
</body>
</html>