<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="utf-8">
<title>Leht</title>
</head>
<body>
<img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
<h1>Leht</h1>
<p>See on leht, midagi uhket siit ei leia. <a href="https://www.tlu.ee">TLÜ</a></p>
<hr>
<ul>
    <li><a href="/">Avaleht</a></li>
</ul>
<hr>
<h2>Pane end külastajana kirja</h2>
<form  method="POST">
    <label for="firstNameInput">Nimi</label>
    <input id="firstNameInput" type="text" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
    <label for="lastNameInput">Nimi</label>
    <input id="lastNameInput" type="text" name="lastNameInput" placeholder="Kirjuta siia oma perekonnanimi...">
    <br>
    <input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
</form>
</body>
</html>