<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Andrus Rinde, veevbiprogrammeerimine</title>
  </head>
<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner">
  <h1>Leht</h1>
  <p>See on leht, midagi uhket siit ei leia. <a href="https://www.tlu.ee">TLÜ</a></p>
  <hr>
  <ul>
	<li><a href="/">Avaleht</a></li>
  <li><a href="/regvisit">Registreeri veel üks külastus</a></li>
  </ul>
  <hr>
  <p><%= visitor %> külastus edukalt salvestatud</p>
</body>
</html>